<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href='{% static "form.css"%}'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="page-header">
        <span class="header-bullets"></span>
        <span class="header-bullets"></span>
        <span class="header-bullets"></span>
    </header>

    <main>
        
    <h2>Matricula de Aluno</h2>

    <form method="post">
        {% csrf_token %}
    {{form.as_p}}

        <button type="submit">Cadastro</button>
    </form>
    </main>
</body>
</html>
