<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href='{% static "estilo.css"%}'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% for aluno in lista %}
    <main>
    <div>
        <p>{{aluno.Nome}}</p>
        <p>{{aluno.Endereco}}</p>
        <p>{{aluno.Cidade}}</p>
        <p>{{aluno.Email}}</p>
        <p>{{aluno.Curso}}</p>
    </div>
    </main>
    {% endfor %}
</body>
</html>
