* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    display: flex;
    flex-direction: column;

    min-height: calc(5vh - 2rem);
    padding: 1rem 1rem;
}


